<?xml version="1.0" encoding="gbk"?>
<!-- <web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name></display-name> -->
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <servlet>
    <servlet-name>Check</servlet-name>
    <servlet-class>servlet.Check</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Jisuan</servlet-name>
    <servlet-class>servlet.Jisuan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Chengji</servlet-name>
    <servlet-class>servlet.Chengji</servlet-class>
  </servlet>
  <filter>  
	<filter-name>LoginFilter</filter-name>
	<filter-class>Filter.LoginFilter</filter-class>
  </filter>
  <listener>
  	<listener-class>listener.OnlineCountListener</listener-class>
  </listener>
<filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<!-- <dispatcher>FORWARD</dispatcher> -->
	<url-pattern>/Chengji.jsp</url-pattern>
	<url-pattern>/Main.jsp</url-pattern>
	<dispatcher>FORWARD</dispatcher>
</filter-mapping>

  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/servlet/Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Jisuan</servlet-name>
    <url-pattern>/servlet/Jisuan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Chengji</servlet-name>
    <url-pattern>/servlet/Chengji</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
